﻿
@{
    ViewBag.Title = "Download";
}

<h2>Downloads</h2>

<div>
    <table class="table table-responsive table-bordered">
        <tr>
            <th>SN</th>
            <th>File Name</th>
            <th>Image</th>
            <th>Link</th>
        </tr>
        @for (var i = 0; i <= Model.Count - 1; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>
                    @Model[i].ToString()
                </td>
                <td>
                    <img src="~/Content/Images/@Model[i].ToString()" class="img-circle" style="width:50px;height:50px;"
                </td>
                <td>
                    @Html.ActionLink("Download", "Download", new { ImageName = @Model[i].ToString() })
                </td>
            </tr>
        }
    </table>
</div>

