﻿@model List<string>
@{
    ViewBag.Title = "Home Page";
}

<h4>
    @ViewBag.Message
</h4>
<div>
    <table class="table table-responsive table-bordered">
        <tr>
            <th>SN</th>
            <th>File Name</th>
            <th>Image</th>
        </tr>
        @for (var i = 0; i <= Model.Count - 1; i++)
        {
            <tr>
                <td>@(i+1)</td>
                <td>
                    @Model[i].ToString()
                </td>
                <td>
                    <img src="~/Content/Images/@Model[i].ToString()" class="img-circle" style="width:50px;height:50px;"
                </td>
            </tr>
        }
    </table>
</div>