﻿
@{
    ViewBag.Title = "Upload";
}


<div class="container">
    <h2>Upload File</h2>
    <p>@ViewBag.Message</p>
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

           <div class="form-group">
               <div>
                   @Html.TextBox("file", "", new { type = "file" })
               </div>
           </div>
            
            <div class="">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
    }
</div>

