﻿@model FileUpDownLoad.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Files.Any(f => f.FileType == FileType.Avatar))
        {
            @*<dt>Avtar</dt>
                <dd>
                    <img class="img img-responsive img-thumbnail" src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" height="100px" width="100px" alt = "avatar" />
                </dd>*@
            <dt>
                <img class="img img-responsive img-thumbnail" src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" height="100px" width="100px" alt="avatar" />
            </dt>
            <shadow></shadow>
            <dd>
                @Html.DisplayFor(model => model.FirstMidName) @Html.DisplayFor(model => model.LastName)
            </dd>

        }
        else
        {
            <dt class="img img-thumbnail"> image </dt>
            <shadow></shadow>
            <dd>
                @Html.DisplayFor(model => model.FirstMidName) @Html.DisplayFor(model => model.LastName)
            </dd>

        }
       
       


        @*<dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FirstMidName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstMidName)
            </dd>*@

    </dl>

    <div class="row">
        
        @if (Model.FilePaths.Any(f => f.FileType == FileType.Photo))
        {
            <h3>Photo</h3>
            foreach (var path in Model.FilePaths)
            {
                <div class="col-md-4">
                    <p> This is the photo uploaded by you.</p>
                    <img class="img-responsive img-thumbnail" height="200px" width="auto" src="~/Content/Images/@path.FileName" />
                </div>
                
             }
         }
    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
